:root {
    background-color: darkslategray;
}
body {
    color: aliceblue;
}

.choice-container {
    display: flex;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 25px;
    background: rgba(0, 89, 255, 0.856);
    width: 100%;
    min-width: 80rem;
    justify-content: center;
    align-items: center;
}
.choice-container:hover {
    cursor: pointer;
}

.justify-center {
    justify-content: center;
}

.choice-prefix {
    padding: 15px;
    color: aliceblue;
}
.choice-text {
    padding: 5px;
    width: 100%;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red;
}

#display {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 20px;
}

.display-main-text {
    text-align: center;
}

/*#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid greenyellow;
    border-radius: 50px;
    overflow: hidden;
}*/

@media screen and (max-width:768px) {
    .choice-container{
        min-width: 40rem;
    }  
}